
body {
	line-height: 1.8em;
	font-size: 1.6em;
	background-color: #F9F9F5;
	font-family:'Microsoft YaHei',Tahoma,'PT Serif',Georgia,Times,'Times New Roman',Serif;
	font-weight: normal !important;
    color: #2C3E50 !important;
}

a {
	transition: all 1s;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: transparent;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .1);
}

.btn-group, .btn-group-vertical{
	margin: 40px 1px;
}

.widget {
	font-size: 0.9em;
	overflow:hidden;
	margin: 10px 0;
}

.widget p{
	margin: 0;
}

.trace {
	font-size: 0.7em !important;
}

.tag_box li{
	float: left ;
	padding: 5px;
	transition: all 1s;
	border-radius: 3px;
}

.tag_box li:hover{
	background-color: #009688;
}

.tag_box li:hover a{
	color: #fff;
}

.index-item-wrapper .post-time {
	font-size: 1em ;
	margin-top: 20px ;
	margin-right: 20px;
	float:right;
}

.badge{
	background-color: #ddd;
}

.index-item-wrapper{
	overflow:hidden;
	transition: all .4s;
}

/* .content .index-item-wrapper:hover{
	background-color: #496d76;
}*/

.index-item-wrapper a{
	transition: all .4s;
}

.index-item-wrapper:hover a{
	color: #496d76;
}

.index-item-wrapper h3{
	line-height: 1.2em !important;
	font-size: 1.2em !important;
	float:left ;
}

.widget h6{
	text-align:right;
}

.navbar-header button{
	display: none;
}

.navbar-brand span{
    font-size: 12px;
}
/*fix icon size*/
[class^=mdi-], [class*=mdi-]{
	font: normal normal normal 1em 'Material-Design-Icons';
}
/*enable boxshadow on bootstrap material button group*/
.btn-default:not(.btn-link):hover, .btn:not(.btn-link):hover{
	box-shadow: 0 3px 6px rgba(0,0,0,.2),0 3px 6px rgba(0,0,0,.28)!important;
}

/*fix blockquote font size for bs*/
blockquote{
	font-size: initial;
}

.article-content{
	margin-top: 15px;
}

.center-content{
	float: none;
	margin: 0 auto;
	
}
/*
#toc {
	top: 150px;
	transition: all ease 0.3s;
	border: none;
	border-radius: 0;
}
#toc.sticky-scroll{
	top:40px;
}

.tocify .tocify-item {
	border-left: 2px solid transparent;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.tocify-item.tocify-focus{
	color: teal;
	border-left: 2px solid;
	font-weight: bold;
}

.tocify-item:hover{
	color: teal;
	border-left: 2px solid;
}
*/



/*disable toc on small screen*/
@media screen and (max-width:991px) {
	#toc {
		display: none;
	}
}

/*post*/
.content{
	min-height: 300px;
	word-wrap: break-word;
}
.comment-section{
	margin-top: 60px;
}
.excerpt,.content{
	margin: 10px 0;
}
.content img {
	max-width: 100%;	
	margin: 20px 0px;
	cursor: pointer;
}
.post-time {
	color: #aaa;
	white-space: nowrap;
}

.archive-item{
	text-align: right;
}

.archive-title{
	float: left;
	text-align: left;
}

/*make the date beside title wrap to next line on mobile*/

@media screen and (max-width:480px) {
	.page h3.title span.date {
		position: static;
		display: inline-block;
	}
.gutter {
display: none;
}

ul {
padding: 0;
    list-style: none;
}
}

/*code*/
figure.highlight {
	margin-bottom: 20px;
}
figure.highlight .gutter .line{
	color: #999;
}

/*pagination*/
.pagination-wrapper {
	text-align: center;
}
.btn-group{
	box-shadow: none;
}

footer {
	color: #999;
	text-align: center;
	margin-top: 30px;
}

/*back to top*/

#gotop {
	display: block;
	width: 36px;
	height: 36px;
	position: fixed;
	bottom: 30px;
	right: 25px;
	border-radius: 50%;
	text-decoration: none;
	font-size: 2.2em;
	background-color: #fefefe;
}

pre{
	background: #F2F3F1 !important;
	color: #e6e1dc;
	text-shadow:none;
    font-size: 14px;
}

figure.highlight {
	background: #F2F3F1;
	/*border: 1px solid color-border;*/
	margin-top: 10px;
	border-radius: 2px;
	text-shadow: 0 0 1px #fff;
	line-height: 1.6;
	overflow: auto;
	position: relative;
	font-size: 0.9em;
}
figure figcaption {
	color: color-meta;
	margin-bottom: 5px;
	text-shadow: 0 0 1px #fff;
}
figure figcaption a {
	position: absolute;
	right: 15px;
}
figure pre {
	border: none;
	padding: 0;
	margin: 0;
}
figure table {
	margin-top: 0;
	border-spacing: 0;
}
.gutter pre{
    width: 2em;
    background-color: #ECEEED !important;
}

.gutter {
    padding: 5px 0;
	/*display: none;*/
    background-color: #ECEEED;
	color: color-meta;
	padding-right: 10px;
	/* border-right: 1px solid color-border; */
	text-align: right;
}
.code {
	padding-left: 10px;
	/*border-left: 1px solid #eee; */
	color: #666;
}
.highlight .line {
	height: 20px;
}
/*
Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>
*/
.hljs {
  display: block;
  overflow-x: auto;
  color: black;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
  color: #999;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
  color: #00f;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
  color: #a31515;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
  color: #2b91af;
}

.hljs-doctag {
  color: #808080;
}

.hljs-attr {
  color: #f00;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #00b0e8;
}


.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}