
body {
	line-height: 1.8em;
	font-size: 1.6em;
	background-color: #fff;
	font-family:'Microsoft YaHei',Tahoma,'PT Serif',Georgia,Times,'Times New Roman',Serif;
	font-weight: normal !important;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background-color: transparent;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .1);
}

a:hover{
	text-decoration: none;
}

.btn-group, .btn-group-vertical{
	margin: 40px 1px;
}

.widget {
	font-size: 0.9em;
	overflow:hidden;
	margin: 10px 0;
}

.trace {
	font-size: 0.7em !important;
}

.tag_box li{
	float: left ;
	padding: 5px;
	transition: all 1s;
	border-radius: 3px;
}

.tag_box li:hover{
	background-color: #009688;
}

.tag_box li:hover a{
	color: #fff;
}

.index-item-wrapper .post-time {
	font-size: 1em ;
	margin-top: 20px ;
	margin-right: 20px;
	float:right;
}

.badge{
	background-color: #ddd;
}

.index-item-wrapper{
	overflow:hidden;
	transition: all .4s;
}

/* .content .index-item-wrapper:hover{
	background-color: #496d76;
}*/

.index-item-wrapper a{
	transition: all .4s;
}

.index-item-wrapper:hover a{
	color: #496d76;
}

.index-item-wrapper h3{
	line-height: 18px !important;
	font-size: 18px !important;
	float:left ;
}

.widget h6{
	text-align:right;
}

.navbar-header button{
	display: none;
}

/*fix icon size*/
[class^=mdi-], [class*=mdi-]{
	font: normal normal normal 1em 'Material-Design-Icons';
}
/*enable boxshadow on bootstrap material button group*/
.btn-default:not(.btn-link):hover, .btn:not(.btn-link):hover{
	box-shadow: 0 3px 6px rgba(0,0,0,.2),0 3px 6px rgba(0,0,0,.28)!important;
}

/*fix blockquote font size for bs*/
blockquote{
	font-size: initial;
}

.article-content{
	margin-top: 15px;
}

.center-content{
	float: none;
	margin: 0 auto;
	
}
/*
#toc {
	top: 150px;
	transition: all ease 0.3s;
	border: none;
	border-radius: 0;
}
#toc.sticky-scroll{
	top:40px;
}

.tocify .tocify-item {
	border-left: 2px solid transparent;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.tocify-item.tocify-focus{
	color: teal;
	border-left: 2px solid;
	font-weight: bold;
}

.tocify-item:hover{
	color: teal;
	border-left: 2px solid;
}
*/

@media (min-width: 1200px){
	.container {
		width: 1100px;
	}
    .center-content{
    width: 90% !important;
    }
}

/*disable toc on small screen*/
@media screen and (max-width:991px) {
	#toc {
		display: none;
	}
}

/*post*/
.content{
	min-height: 300px;
	word-wrap: break-word;
}
.comment-section{
	margin-top: 60px;
}
.excerpt,.content{
	margin: 10px 0;
}
.content img {
	max-width: 100%;	
	margin: 20px 0px;
	cursor: pointer;
}
.post-time {
	color: #aaa;
	white-space: nowrap;
}

.archive-item{
	text-align: right;
}

.archive-title{
	float: left;
	text-align: left;
}

/*make the date beside title wrap to next line on mobile*/

@media screen and (max-width:415px) {
	.page h3.title span.date {
		position: static;
		display: inline-block;
	}
}

/*code*/
figure.highlight {
	margin-bottom: 20px;
}
figure.highlight .gutter .line{
	color: #999;
}

/*pagination*/
.pagination-wrapper {
	text-align: center;
}
.btn-group{
	box-shadow: none;
}

footer {
	color: #999;
	text-align: center;
	margin-top: 30px;
}

/*back to top*/

#gotop {
	display: block;
	width: 36px;
	height: 36px;
	position: fixed;
	bottom: 30px;
	right: 25px;
	border-radius: 50%;
	text-decoration: none;
	font-size: 2.2em;
	background-color: #fefefe;
}

pre{
	background: #2a2e35 !important;
	color: #e6e1dc;
	text-shadow:none;
}

figure.highlight {
	background: #2a2e35;
	/*border: 1px solid color-border;*/
	margin-top: 15px;
	padding: 7px 10px;
	border-radius: 2px;
	text-shadow: 0 0 1px #fff;
	line-height: 1.6;
	overflow: auto;
	position: relative;
	font-size: 0.9em;
}
figure.highlight figcaption {
	color: color-meta;
	margin-bottom: 5px;
	text-shadow: 0 0 1px #fff;
}
figure.highlight figcaption a {
	position: absolute;
	right: 15px;
}
figure.highlight pre {
	border: none;
	padding: 0;
	margin: 0;
}
figure.highlight table {
	margin-top: 0;
	border-spacing: 0;
}
figure.highlight .gutter {
	display: none;
	color: color-meta;
	padding-right: 10px;
	/* border-right: 1px solid color-border; */
	text-align: right;
}
figure.highlight .code {
	padding-left: 10px;
	/*border-left: 1px solid #eee; */
	color: #666;
}
figure.highlight .line {
	height: 20px;
}

/* javascript highlight */
.hljs{display:block;overflow-x:auto;color:#ddd}
.hljs-tag,.hljs-keyword,.hljs-selector-tag,.hljs-literal,.hljs-strong,.hljs-name{color:#f92672}
.hljs-code{color:#66d9ef}
.hljs-class .hljs-title{color:white}
.hljs-attribute,.hljs-symbol,.hljs-regexp,.hljs-link{color:#bf79db}
.hljs-string,.hljs-bullet,.hljs-subst,.hljs-title,.hljs-section,.hljs-emphasis,.hljs-type,.hljs-built_in,.hljs-builtin-name,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-addition,.hljs-variable,.hljs-template-tag,.hljs-template-variable{color:#a6e22e}
.hljs-comment,.hljs-quote,.hljs-deletion,.hljs-meta{color:#75715e}
